<!DOCTYPE html>
<html lang="it">
<head>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@500;600;700&display=swap" rel="stylesheet">    
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lora:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

<title>
  {{ if .IsHome }}
    {{ .Site.Title }}
  {{ else }}
    {{ .Title }} | {{ .Site.Title }}
  {{ end }}
</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

{{ partial "header.html" . }}

<main>
{{ block "main" . }}{{ end }}
</main>

{{ partial "footer.html" . }}

<button id="backToTop">⬆️</button>

<script src="/js/menu.js"></script>
<script src="/js/main.js" defer></script>
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
const lightbox = GLightbox({
  selector: '.glightbox'
});
</script>
</body>
</html>