<section class="camere">

    <div class="container">
    
    <h2 class="section-title">
       <span>🛏️</span> Le nostre camere
    </h2>
    
    <div class="camere-grid">
    
    <div class="camera-card">
    
    <img src="/img/camere/2.webp" alt="Camera singola">
    
    <h3>Camera Singola</h3>
    
    <p>Ideale per soggiorni brevi e viaggiatori singoli.</p>
    
    </div>
    
    <div class="camera-card">
    
    <img src="/img/camere/3.webp" alt="Camera doppia">
    
    <h3>Camera Doppia</h3>
    
    <p>Perfetta per coppie o soggiorni rilassanti in montagna.</p>
    
    </div>
    
    <div class="camera-card">
    
    <img src="/img/camere/4.webp" alt="Camera familiare">
    
    <h3>Camera Familiare</h3>
    
    <p>Spazio e comfort per famiglie e gruppi.</p>
    
    </div>
    
    </div>
    
    <a href="/camere/" class="btn">Scopri tutte le camere</a>
    
    </div>
    
    </section>