<header class="site-header">
  <div class="container header-inner">

    <div class="logo">
      <a href="/">
        <img src="/img/logg.png" alt="Hotel Moderno Demonte">
      </a>
    </div>

    <nav class="nav">
      <a href="/" class="{{ if eq .RelPermalink "/" }}active{{ end }}">Home</a>

      <a href="/camere/" class="{{ if hasPrefix .RelPermalink "/camere" }}active{{ end }}">Camere</a>

      <a href="/ristorante/" class="{{ if hasPrefix .RelPermalink "/ristorante" }}active{{ end }}">Ristorante</a>

      <a href="/eventi/" class="{{ if hasPrefix .RelPermalink "/eventi" }}active{{ end }}">Eventi</a>

      <a href="/valle-stura/" class="{{ if hasPrefix .RelPermalink "/valle-stura" }}active{{ end }}">Valle Stura</a>

      <a href="/contatti/" class="{{ if hasPrefix .RelPermalink "/contatti" }}active{{ end }}">Contatti</a>
      <a class="camping-link"
        href="https://campingpiscinademonte.com/"
        target="_blank">
        Camping Piscina 🏕
      </a>
    </nav>

    <a href="tel:+393382464353" class="btn header-cta">📞 Chiama</a>

  </div>
</header>