<header class="site-header">

<div class="header-container">

<div class="logo">
<a href="/">Hotel Moderno Demonte</a>
</div>

<nav class="nav-menu" id="nav-menu">

<a href="/">Home</a>
<a href="/camere/">Camere</a>
<a href="/ristorante/">Ristorante</a>
<a href="/eventi/">Eventi</a>
<a href="/valle-stura/">Valle Stura</a>
<a href="/contatti/">Contatti</a>

<a class="camping-link"
href="https://campingpiscinademonte.com/"
target="_blank">
Camping Piscina 🏕
</a>

</nav>

<div class="header-right">

<a class="phone-btn" href="tel:+39 338 246 4353">
📞 Chiama
</a>

<div class="hamburger" id="hamburger">
<span></span>
<span></span>
<span></span>
</div>

</div>

</div>

</header>