<header class="site-header">

  <!-- TOP BAR -->
  <div class="topbar">
    <div class="topbar-inner">

   <div class="top-left"></div>

   <div class="top-center">
    <a href="https://campingpiscinademonte.com/" target="_blank" class="camping-link">
      🏕 Scopri anche il nostro Camping Piscina a Demonte!
    </a>
  </div>


      <div class="top-right">

        <div class="lang-switch">
          {{ range .AllTranslations }}
            <a href="{{ .RelPermalink }}">
              {{ if eq .Lang "it" }}🇮🇹{{ end }}
              {{ if eq .Lang "en" }}🇬🇧{{ end }}
            </a>
          {{ end }}
        </div>

        <a href="tel:+393382464353" class="btn top-cta">
          📞 Prenota
        </a>

      </div>

    </div>
  </div>


  <!-- MAIN NAV -->
  <div class="main-nav">
    <div class="container header-flex">

      <!-- LOGO -->
      <div class="logo">
        <a href="/">
          <img src="/img/logg.png" alt="Hotel Moderno Demonte">
        </a>
      </div>

      <!-- MENU -->
      <nav class="nav">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}"
            class="{{ if hasPrefix $.RelPermalink .URL }}active{{ end }}">
            {{ .Name }}
          </a>
        {{ end }}
      </nav>

    </div>
  </div>

</header>